extends layout

block content
  h1 #{thisClass.name} 
    small a class on Coursefork

  p #{thisClass.description}

  h2
    a.btn.pull-right(href="/classes/#{thisClass._id}/slides/new") add &raquo;
    a(href="/classes/#{thisClass._id}/slides") #{thisClass.slides.length} Slides

  ol
    - for slide, i in thisClass.slides
      li(style="clear:both;")
        a.btn.btn-micro.pull-right(href="/classes/#{thisClass._id}/slides/#{i + 1}/edit") edit
        a(href="/classes/#{thisClass._id}/slides/#{i + 1}") slide: #{slide.name}

  h2
    a(href="/classes/#{thisClass._id}/code") Code

  a(href="/classes/fork/#{thisClass._id}").btn.btn-primary.pull-right fork
