extends layout

block content
  h1 #{thisClass.name} 
    small a class on Coursefork

  .pull-right
    a.btn.btn-primary(href="#") fork

  p #{thisClass.description}

  h2
    a.btn.pull-right(href="/classes/#{thisClass._id}/slides/new") add &raquo;
    a(href="/classes/#{thisClass._id}/slides") (count here) Slides

  h2
    a(href="/classes/#{thisClass._id}/code") Code

  a.btn.btn-primary.pull-right fork