extends layout

block content

  .pull-right
    a.btn(href="#", title="save for later")
      i.icon-star
      |  star
    |  
    a.btn.btn-primary(href="#")
      i.icon-filter
      |  fork this class &raquo;
      

  h1 #{thisClass.name} 
    small a class on Coursefork

  .btn-group.pull-right
    .btn Presentation Mode 
      i.icon-play
    .btn.btn-toggle(data-toggle="dropdown") Download 
      span.caret
    ul.dropdown-menu
      li
        a PDF
      li
        a Powerpoint
      li
        a ODF

  p #{thisClass.description}

  .row-fluid(style="padding-top: 1em;")
    .span4
      h2
        a.btn.pull-right(href="/classes/#{thisClass._id}/slides/new") add &raquo;
        a(href="/classes/#{thisClass._id}/slides") #{thisClass.slides.length} Slides

      ol
        - for slide, i in thisClass.slides
          li(style="clear:both;")
            a.btn.btn-micro.pull-right(href="/classes/#{thisClass._id}/slides/#{i + 1}/edit") edit
            a(href="/classes/#{thisClass._id}/slides/#{i + 1}") slide: #{slide.name}

      h2(style="margin-top: 2em;")
        a.btn.pull-right(href="/classes/#{thisClass._id}/slides/new") add &raquo;

    .span8
      #preview(style="height: 25em; text-align:center; padding-top: 5.5em; border: 1px solid black; border-radius: 3px;")
        h1 Building an MVP in 48 Hours
        h2 or, Ideation at Ludicrous Speed

        p.pull-right(style="padding-top: 2em; padding-right: 2em;") an experiment by the coursefork team.

      .controls(style="margin-top: 1em;")
        a.btn.pull-right Next &raquo;
        a.btn &laquo; Previous

  h2
    a(href="/classes/#{thisClass._id}/code") Code, Files, & Resources
    |  
    a.btn Upload New &raquo;

  p No files have been uploaded to this class yet!
